{# src/OC/UserBundle/Resources/views/layout.html.twig #}

{# On étend notre layout #}
{% extends "login.html.twig" %}

{% block stylesheets %}
{{parent()}}
<style>

.stary{
  min-height: 100vh;
}

input[type=text], input[type=password] {
    background: transparent;
    outline : none;
    border : none;
    border-bottom : 2px solid white;
    border-radius : 0px;
    border-image : linear-gradient(to right,#007ec6 0%,#d71418 51%, #007ec6 100%) 1;
    color: white;
    font-weight: bold;
}
input[type=text]:focus, input[type=password]:focus {
    background : transparent;
    outline : none;
    border-bottom: 2px solid white;
    border-color:#007ec6;
    box-shadow: none;
    color:white;
}

input[type=text] + i, input[type=password] + i {
  color :white;
  transition: color 0.2s ease-in-out;
}

input[type=text]:focus + i, input[type=password]:focus + i {
  color : #007ec6;
}

.labelled-input {
  padding:0px 0px 0px 40px !important;
}

.btn-grad {
  position: relative;
  transition: background-color 0.4s ease-in-out;
  border-radius:25px;
  background-color: black;
  width:100%;
  height:50px;
  font-weight:bold;
  margin-top:30px;
  color:white;
}

.btn-grad:hover {
   background-color: transparent;
 }

 .btn-grad::after {
    position: absolute;
    top: -3px; bottom: -3px;
    left: -3px; right: -3px;
    background-image: linear-gradient(to right, #007ec6 0%,#d71418 51%, #007ec6 100%);
    content: '';
    z-index: -1;
    border-radius: 25px;
}

.btn-login{
  background-color: #0f161e;
}

form {
  padding : 0px 20px 50px 20px;
}

.login-logo {
  width:400px;
}

.field {
  margin-top:25px;
  position: relative;
}

.form-fa {
  height:0px;
  position: absolute;
  bottom : 30px;
  left:25px;
}

form{
  border:1px solid grey;
   border-radius:5px;
    background-color:rgba(0,0,0,0.3);
     color:white;
      z-index:100;
}

</style>
{% endblock %}


{# Dans notre layout, il faut définir le block body #}
{% block body %}
<div class="stary">
  <div id='stars'></div>
  <div id='stars2'></div>
  <div id='stars3'></div>
    <div class="container" style="height:95vh;display:flex;align-items: center;justify-content: center; ">
      <div class="row">
  {# On affiche les messages flash que définissent les contrôleurs du bundle #}

  {% block fos_user_content %}
  {% endblock fos_user_content %}
</div>
</div>
</div>
{% endblock %}
