html, body
{
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#game-box
{
  width: 100%;
  height: 100%;
  touch-action: none;
  overflow: hidden;
}

#canvas
{
  width: 100%;
  height: 100%;
  touch-action: none;
}

#player-arm
{
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: 40%;
  width: 40%;
}

.absolute-center{
                position:absolute;
                transform: translateX(-50%) translateY(-50%);
                -webkit-transform: translateX(-50%) translateY(-50%);
                left: 50%;
                top:50%;
                width:25%;
                margin:auto;
                transition: top 1s;
              }
