input[type=text], input[type=password] {
    background: transparent;
    outline : none;
    border : none;
    border-bottom : 2px solid white;
    border-radius : 0px;
    border-image : linear-gradient(to right,#007ec6 0%,#d71418 51%, #007ec6 100%) 1;
    color: white;
    font-weight: bold;
}
input[type=text]:focus, input[type=password]:focus {
    background : transparent;
    outline : none;
    border-bottom: 2px solid white;
    border-color:#007ec6;
    box-shadow: none;
    color:white;
}

input[type=text] + i, input[type=password] + i {
  color :white;
  transition: color 0.2s ease-in-out;
}

input[type=text]:focus + i, input[type=password]:focus + i {
  color : #007ec6;
}

.labelled-input {
  padding:0px 0px 0px 50px !important:
}

.btn-grad {
  position: relative;
  transition: background-color 0.4s ease-in-out;
  border-radius:25px;
  background-color: white;
  width:100%;
  height:50px;
  font-weight:bold;
  margin-top:30px;

}

.btn-grad:hover {
   background-color: transparent;
 }

 .btn-grad::after {
    position: absolute;
    top: -3px; bottom: -3px;
    left: -3px; right: -3px;
    background-image: linear-gradient(to right, #007ec6 0%,#d71418 51%, #007ec6 100%);
    content: '';
    z-index: -1;
    border-radius: 25px;
}

form {
  padding : 0px 20px 50px 20px;
}

.login-logo {
  width:400px;
}

.field {
  margin-top:25px;
  position: relative;
}

.form-fa {
  height:0px;
  position: absolute;
  bottom : 30px;
  left:25px;
}

.absolute-center{
                position:absolute!important;
                transform: translateX(-50%) translateY(-50%);
                -webkit-transform: translateX(-50%) translateY(-50%);
                left: 50%!important;
                top:50%!important;
                bottom: unset!important;
                right:unset!important;
                width:25%;
                margin:auto;
              }

nav {
  background-color: transparent;
}

.pixel {
  image-rendering:optimizeSpeed;             /* Legal fallback */
  image-rendering:-moz-crisp-edges;          /* Firefox        */
  image-rendering:-o-crisp-edges;            /* Opera          */
  image-rendering:-webkit-optimize-contrast; /* Safari         */
  image-rendering:optimize-contrast;         /* CSS3 Proposed  */
  image-rendering:crisp-edges;               /* CSS4 Proposed  */
  image-rendering:pixelated;                 /* CSS4 Proposed  */
  -ms-interpolation-mode:nearest-neighbor;   /* IE8+           */
}

html, body
{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
