<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Dev&Dungeon</title>
    <meta name="description" content="READY!">
    <!-- SCRIPTS DE BASE -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babylonjs/3.3.0/babylon.js"></script>
    <script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- FEUILLES CSS -->
    <link rel="stylesheet" type="text/css" href="{{asset('assets/stylesheets/gameStyle.css')}}" />
  </head>
  <body>
    {#<audio id="music" loop>#}
      {#<source src="{{asset('assets/audio/musics/QUIMUS.ogg')}}" type="audio/ogg" />#}
    {#</audio>#}
      <canvas id="canvas"></canvas>
      <div id="messagePanel" class="panel panel-default absolute-center" style="top:-50%; background-color:white; padding:20px; border-radius:3px;">
          <div class="panel-body">
            <h4 class="text-center" style="margin:0px;"><strong id="status">CLASSEMENT</strong></h4>
            <table class="table">
  <thead>
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Kills</th>
      <th scope="col">Score</th>
    </tr>
  </thead>
  <tbody id="player_table">
  </tbody>
</table>
          </div>
        </div>
  </body>
  <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
  <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
  <!-- SCRIPTS BABYLON -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js"></script>
  <script src="{{asset('assets/js/game/NetworkManager.js')}}"></script>
  <script src="{{asset('assets/js/game/Game.js')}}"></script>
  <script src="{{asset('assets/js/game/Player.js')}}"></script>
  <script src="{{asset('assets/js/game/Arena.js')}}"></script>
  <script src="{{asset('assets/js/game/Weapons.js')}}"></script>
  <script src="{{asset('assets/js/game/GhostPlayer.js')}}"></script>


</html>
