{# src/DC/UserBundle/Resources/views/Security/login.html.twig #}

{% extends "base.html.twig" %}

{% block stylesheets %}
{{parent()}}
<style>
input[type=text], input[type=password] {
    background: transparent;
    outline : none;
    border : none;
    border-bottom : 2px solid white;
    border-radius : 0px;
    border-image : linear-gradient(to right,#007ec6 0%,#d71418 51%, #007ec6 100%) 1;
    color: white;
    font-weight: bold;
}
input[type=text]:focus, input[type=password]:focus {
    background : transparent;
    outline : none;
    border-bottom: 2px solid white;
    border-color:#007ec6;
    box-shadow: none;
    color:white;
}

input[type=text] + i, input[type=password] + i {
  color :white;
  transition: color 0.2s ease-in-out;
}

input[type=text]:focus + i, input[type=password]:focus + i {
  color : #007ec6;
}

.labelled-input {
  padding:0px 0px 0px 50px !important:
}

.btn-grad {
  position: relative;
  transition: background-color 0.4s ease-in-out;
  border-radius:25px;
  background-color: black;
  width:100%;
  height:50px;
  font-weight:bold;
  margin-top:30px;
  color:white;
}

.btn-grad:hover {
   background-color: transparent;
 }

 .btn-grad::after {
    position: absolute;
    top: -3px; bottom: -3px;
    left: -3px; right: -3px;
    background-image: linear-gradient(to right, #007ec6 0%,#d71418 51%, #007ec6 100%);
    content: '';
    z-index: -1;
    border-radius: 25px;
}

form {
  padding : 0px 20px 50px 20px;
}

.login-logo {
  width:400px;
}

.field {
  margin-top:25px;
  position: relative;
}

.form-fa {
  height:0px;
  position: absolute;
  bottom : 30px;
  left:25px;
}

</style>
{% endblock %}

{% block body %}
<div class="stary">
  <div id='stars'></div>
  <div id='stars2'></div>
  <div id='stars3'></div>
  <img src="{{asset('assets/img/megaman_login _emptied.png')}}" style="position:absolute; width:100%; height:100vh;">
    <div class="container" style="height:95vh;display:flex;align-items: center;justify-content: center; ">
  {# S'il y a une erreur, on l'affiche dans un joli cadre #}

<div class="row">


  {# Le formulaire, avec URL de soumission vers la route « login_check » comme on l'a vu #}
  <form action="{{ path('login_check') }}" method="post" style="border:1px solid grey; border-radius:5px; background-color:rgba(0,0,0,0.3); color:white; z-index:100">
    <img class="login-logo" src="{{asset('assets/img/megaman_logo.png')}}">
    {% if error %}
      <div class="alert alert-danger">{{ error.message }}</div>
    {% endif %}
    <div class="col-md-12 field">
      <label for="username">Identifiant</label>
      <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control labelled-input" style="padding-left : 40px" placeholder="Entrez votre identifiant"/>
      <i class="fa fa-user form-fa"></i>
  </div>
  <div class="col-md-12 field">
    <label for="password">Mot de passe</label>
    <input type="password" id="password" name="_password" class="form-control" style="padding-left : 40px" placeholder="Entrez votre mot de passe"/>
    <i class="fa fa-lock form-fa"></i>
    </div>
    <br />
    <div class="col-md-12 text-center">
      <button type="submit" class="btn btn-grad">Connexion</button>
  </div>
  </form>
</div>
</div>
</div>
{% endblock %}
