{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    {% for key, messages in app.session.flashbag.all() %}
      {% for message in messages %}
        <div class="alert alert-{{ key }}">
          {{ message|trans({}, 'FOSUserBundle') }}
        </div>
      {% endfor %}
    {% endfor %}
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}

    <div class="col-md-12 field">
      <label for="username">{{ 'security.login.username'|trans }}</label>
      <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" class="form-control labelled-input" />
      <i class="fa fa-user form-fa"></i>
    </div>

    <div class="col-md-12 field">
      <label for="password">{{ 'security.login.password'|trans }}</label>
      <input type="password" id="password" name="_password" required="required" autocomplete="current-password" class="form-control labelled-input" />
      <i class="fa fa-lock form-fa"></i>
    </div>
    <div class="col-md-12 text-center">
      <button type="submit" class="btn btn-grad btn-login" id="_submit" name="_submit">{{ 'security.login.submit'|trans }}</button>
    </div>
</form>
